@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* common style start here */

:root {
  --logo-font: "Cinzel", serif;
  --primary-font: "Inter", sans-serif;
  --text-font: "Raleway", sans-serif;
}

body {
  font-family: var(--primary-font);
}

.logo-font {
  font-family: var(--logo-font);
}

.text-font {
  font-family: var(--text-font);
}

.drawer-side a.active {
  color: white;
}

.drawer-side a {
  background-color: transparent;
}
